<!--Main Layout-->
<main>
    <div style="height: 120vh">
        <div class="container mt-6">
            <div class="row">
                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay bnrhgt">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade grn">

                        <!-- Title -->
                        <h3 class="card-title"><strong>TRAD ATTACK PERFORMANCE</strong></h3>
                        <!-- Subtitle -->
                        <ul class="location">
                            <li class="time mb-3">
                                <span>09:00</span>
                            </li>
                            <li class="event mb-3">
                                <span>July 12 2019</span>
                                <a href="" class="maptheme"><img src="img/map.png" alt="" /></a>
                            </li>
                            <li class="address">
                                <span><b class="text-upper">Sarawak Tourism</b>,Level-4,Plaza Aurora,Jalan McDougall,93000
                            Kuching,Sarawak</span>
                            </li>
                        </ul>
                        <!-- Text -->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
                        </p>

                        <!-- Carousel -->

                        <!--Carousel Wrapper-->
                        <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
                                <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
                                <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides and lightbox-->

                            <div class="carousel-inner mdb-lightbox" role="listbox">
                                <div id="mdb-lightbox-ui"></div>
                                <!--First slide-->
                                <div class=" carousel-item active text-center">

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(2).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(4).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item text-center">

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(22).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(29).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                </div>
                                <!--/.Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item text-center">

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(44).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(66).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                    <figure class="col-md-3 d-md-inline-block">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" data-size="1600x1067">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(6).jpg" class="img-fluid">
                                        </a>
                                    </figure>

                                </div>
                                <!--/.Third slide-->

                            </div>
                            <!--/.Slides-->

                        </div>
                        <!--/.Carousel Wrapper-->

                    </div>

                    <a href="#" class="btn btn-warning waves-effect waves-light orang">REGISTER</a>

                </div>
                <!-- Card -->



            </div>
        </div>
    </div>
</main>
<!--Main Layout-->