<!--Main Layout-->
<main class="secmain">
    <div class="row">
        <h2 class="text-center event-header">REGISTERED PROGRAMMES</h2>
    </div>
    <div>
        <div class="container mt-2">
            <div class="row">
                <!-- Card -->
                <div class="col-sm-6 mt-4 nopad">
                    <div class="card">
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h4 class="card-title text-upper text-theme">Card title</h4>
                            <!-- Text -->
                            <div class="view overlay view-custom">
                                <img class="card-img" src="img/dummy.jpg" alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                                <div class="social">
                                    <a href=""><img src="img/twt.png" class="widhgt" alt="" /></a>
                                    <a href=""><img src="img/fb.png" class="widhgt" alt="" /></a>
                                    <a href=""><img src="img/insta.png" class="widhgt" alt="" /></a>
                                    <a href=""><img src="img/share.png" class="widhgt" alt="" /></a>
                                </div>
                            </div>

                            <ul class="location">
                                <li class="time mb-1">
                                    <span>09:00</span>
                                </li>
                                <li class="event mb-1">
                                    <span>July 12 2019</span>
                                    <a href="" class="maptheme"><img src="img/map.png" alt="" /></a>
                                </li>
                                <li class="address">
                                    <span>Sarawak Tourism,Level-4,Plaza Aurora,Jalan McDougall,93000 Kuching,Sarawak</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
</main>
<!--Main Layout-->