<div style="height: 100vh">
    <div class="flex-center flex-column login-card">
        <div class="login-logo">
        </div>
        <div class="card login">
            <div class="card-body">
                <div class="form-group username">
                    <input type="text" placeholder="User Name" class="form-control" id="usr">
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" class="form-control" id="pwd">
                </div>
                <p class="forgt"><a ui-sref="forgot">Forgot Password ?</a></p>
                <a class="btn btn-primary">Login</a>
                <p class="sgnup mt-1">Don’t have an account ? <a ui-sref="register">SIGN UP</a></p>
            </div>
        </div>
    </div>
</div>