<div class="top-register row pr-20 pl-20">
    <div class="login card m-5 mx-auto">

        <!--Card image-->
        <div class="view overlay register-logo ">

        </div>

        <!--Card content-->
        <div class="card-body pt-0 ">
            <div class="form-group username">
                <input type="text" placeholder="User Name" class="form-control" id="usr">
            </div>
            <div class="form-group password">
                <input type="password" placeholder="Password" class="form-control" id="pwd">
            </div>
            <div class="form-group username">
                <input type="text" placeholder="User Name" class="form-control" id="usr">
            </div>
            <div class="form-group password">
                <input type="password" placeholder="Password" class="form-control" id="pwd">
            </div>
            <div class="form-group username">
                <input type="text" placeholder="User Name" class="form-control" id="usr">
            </div>
            <div class="form-group password">
                <input type="password" placeholder="Password" class="form-control" id="pwd">
            </div>
        </div>
    </div>
</div>