<div class="top-register row pr-20 pl-20">
    <div class="register card m-5 mx-auto">

        <!--Card image-->
        <div class="view overlay register-logo ">

        </div>

        <!--Card content-->
        <div class="card-body pt-0 ">
            <form name="form " ng-submit="vm.register() " role="form ">
                <div class=" ">
                    <div class="form-group user single-line pull-left " ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required } ">
                        <input placeholder="First name " type="text " name="firstName " id="firstName " class="form-control " ng-model="vm.user.firstName " required />
                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required " class="help-block ">First name is required</span>
                    </div>
                    <div class="form-group user single-line pull-right lastname " ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required } ">
                        <input placeholder="Last name " type="text " name="lastName " id="Text1 " class="form-control " ng-model="vm.user.lastName " required />
                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required " class="help-block ">Last name is required</span>
                    </div>
                </div>
                <div class="form-group email " ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required } ">
                    <input placeholder="Email Id " type="text " name="email " id="email " class="form-control " ng-model="vm.user.email " required />
                    <span ng-show="form.email.$dirty && form.email.$error.required " class="help-block ">Email Id is required</span>
                </div>
                <div class="form-group password " ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required } ">
                    <input placeholder="Password " type="password " name="password " id="password " class="form-control " ng-model="vm.user.password " required />
                    <span ng-show="form.password.$dirty && form.password.$error.required " class="help-block ">Password is required</span>
                </div>
                <div class="form-group password " ng-class="{ 'has-error': form.confPassword.$dirty && form.confPassword.$error.required } ">
                    <input placeholder="Confirm Password " type="password " name="confPassword " id="confPassword " class="form-control " ng-model="vm.user.confPassword " required />
                    <span ng-show="form.confPassword.$dirty && form.confPassword.$error.required " class="help-block ">Password Confirmation is required</span>
                </div>
                <div class="form-actions pull-left ">
                    <button type="submit " ng-disabled="form.$invalid || vm.dataLoading " class="register-btn pull-left btn btn-primary ">Register</button>
                    <img ng-if="vm.dataLoading " class="loader " src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                    <a href=" #/login " class="pull-right mr-0 btn btn-dark ">Cancel</a>
                </div>
                <div ng-show="vm.error " class="alert alert-danger ">{{vm.error}}</div>
            </form>
        </div>
    </div>
</div>